#header {
  padding: 10px;
}

#header div {
  padding: 5px;
  background-color: rgb(23, 19, 19);
  text-align: center;
  vertical-align: auto;
}

#header span {
  height: auto;
  border-radius: 1px;
  border-color: white;
  padding: 1px 15px 1px 15px;

}

/* unvisited link */
#header button {
  color: rgb(253, 215, 0);
  font-size: 16px;
}

/* mouse over link */
#header button:hover {
  color: goldenrod;
}

/* selected link */
#header button:active {
  color: rgb(24, 24, 255);
}

#header .selected-tab {
  background-color: red;
}