#header {
  padding: 10px;
}

#header div {
  padding: 5px;
  background-color: rgb(23, 19, 19);
  text-align: center;
  vertical-align: auto;
}

/* unvisited link */
#header a:link {
  color: rgb(253, 215, 0);
}

/* visited link */
#header a:visited {
  color: rgb(253, 215, 0);
}

/* mouse over link */
#header a:hover {
  color: goldenrod;
}

/* selected link */
#header a:active {
  color: rgb(24, 24, 255);
}